<footer class="page-footer">
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-4" >
        <div class="row">
        <div class="col-sm-2"></div>
          <div class="col-sm-10">
            <div class="footer-aboutUs-head">
                <p class="footer-aboutUs-head-text">ABOUT US</p>
                <i class="fa fa-graduation-cap footer-aboutUs-head-icon"></i>
            </div>
            <div class="">
                <p class="footer-aboutUs-content-text"><b>Pioneer Coders is group of R&D team and we love to share our knowledge.</b></p>  
            </div>
            <div class="">
                <i class="fas fa-phone"></i><span>+91-8296488477</span>
            </div>
            <div class="">
                <i class="fas fa-envelope"></i><span>contactus@pioneercoders.com</span>
            </div>
            <div class="">
                <i class="fas fa-link"></i><span>www.pioneercoders.com</span>
            </div>
            <div class="">
                <i class="fas fa-home"></i><span> #97, 1st Floor, 20th Main, BTM 1st Stage Near Indane Gas Agency, Bangalore-560068.</span>
            </div>
            <div>
                <ul class="footer-social-icons">
                    <li>
                        <a href="#"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-skype"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-google-plus-g"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fas fa-rss"></i></a>
                    </li>
                    <li>
                        <a href="#"><i class="fab fa-youtube"></i></a>
                    </li>
                </ul>
            </div>
          </div>
        </div>
        </div>
        <div class="col-sm-4">
           <div class="col-sm-1"></div> 
           <div class="col-sm-10">
              <div class="footer-contactUs-head">
                <p class="footer-contactUs-head-text">CONTACT US</p>
                <i class="fas fa-edit footer-contactUs-head-icon"></i>
                
              </div>
              <form action="#" class="footer-contactUs-form">
                <input type="text" class="form-control" placeholder="Name">
                <input type="text" class="form-control" placeholder="Phone">  
                <input type="email" class="form-control" placeholder="Email">
                <textarea class="form-control" rows="3"></textarea>
                <button class="footer-submit-button"><b>Submit ≫</b></button>
              </form>
            </div>
            <div class="col-sm-1"></div>
        </div>
        <div class="col-sm-4">
        <div class="col-sm-10">
            <div class="footer-instractor-head">
                <p class="footer-instractor-head-text">APPLY FOR INSTRACTOR</p>
                <i class="fas fa-edit footer-instractor-head-icon"></i>
            </div>
            <form action="#" class="footer-contactUs-form">
                <input type="text" class="form-control" placeholder="Name">
                <input type="text" class="form-control" placeholder="Phone">  
                <input type="email" class="form-control" placeholder="Email">
                <textarea class="form-control" rows="3"></textarea>
                <button class="footer-submit-button"><b>Submit ≫</b></button>
            </form>
            </div>
            <div class="col-sm-2"></div>
        </div>
            </div>
    
    <div class="row">
    <div class="col-md-12 page-foot">
      <div class="col-md-4">
        <p class="footer-text">pioneercoders.com 2017 . All Rights Reserved</p>
      </div>
    </div>
    </div>
    </div>
    </footer>