
<div class="row" style="width:100%">
    <section class="col-lg-2 col-md-2 col-sm-12 col-xs-12 leftMenu-section p-0 pull-left ">
        <course-topics></course-topics>
    </section>
    <section class="col-lg-10 col-md-10 body-section">
        <main role="main" class="col-md-12 ml-sm-auto col-lg-11 px-4 " style="margin-top:150px">
            <router-outlet>
                <!--Routing content area -->
            </router-outlet>
            <app-online-editor></app-online-editor> 
        </main>
    </section>
</div>