.onlineEditor-section{
    padding: 0%;
}
.onlineEditor-panel{
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 0%;
    background-color: #ddd;
    border: 1px solid;
}


/* .ace-monokai {
    background-color: #ddd;
    color: #00304C;
}
.ace_gutter {
    background: rgb(188, 193, 202);
    color: #2F3129;
} */


.nav-start-elements{
    margin-left: 70px;
    }
    .header-navbar{
        background-color: #00304C;
        width: 100%;
        height: 50px;
        margin-top: 20px;
    }
    .nav-header{
     color: white;
    }
    .nav-start-elements li{
        margin: 0px 13px;
    }
    .nav-lang-select{
        width: 100%;
        height: 30px;
        margin: 5px;
        border: 1px solid #00304C;
        border-radius: 4px;
    }
    .nav-submit{
    width: 75px;
    height: 30px;
    margin-top: 5px;
    border: 1px solid #0ba9a0;
    border-radius: 4px;
    background-color: #0ba9a0;
    color: white;
    position: relative;
    margin-left: 10px;
    }
    .nav-editer-elements{
        margin-left: 380px;
    }
    .result-box{
        border: 1px solid;
        height: 150px;
    }
