
<div class="col-12 topics-left-nav ">
  <ul  *ngFor="let course of courses" class="col-12 topics-left-nav-list" >
      <div *ngIf="courseName === course.name" class="topics-left-nav-list-box position-fixed"> 
            <li *ngFor="let topic of course.topics" >
            <a class="nav-link active" [routerLink]="['/course', courseName, topic.topicId]" fragment=true>
            <!-- [queryParams]="{watch: topic.videoId, editor: topic.editor.code}" --> 
                <span data-feather="home"></span>
                {{topic.name}} <span class="sr-only">(current)</span>
            </a>
        </li>
      </div>
    </ul>
</div>
